<h1>customer works!</h1>
<div>

<input type="text"  class="form-control" name="field1" #field1/>
<input type="text"  class="form-control" name="field2" #field2/>
</div>


<div class="form-group">
    <button class="btn btn-info btn-space" name="add" (click)="onAdd(field1.value,field2.value)">Add</button>
    <button class="btn btn-info btn-space" name="substraction" (click)="onSubstract(field1.value, field2.value)" >Substraction</button>
    <button class="btn btn-info btn-space" name="multiplication" (click)="onMultiplication(field1.value, field2.value)">Multiplication</button>
    <button class="btn btn-info btn-space" name="division" (click)="onDivision(field1.value, field2.value)">Division</button>
</div>
<h1>{{result}}</h1>

<ul>
    <li *ngFor="let item of studentList">{{item}}</li>
</ul>

<app-marksheet></app-marksheet>
<div class="container" >
        <table class="table table-bordered table-dark">
            <thead>
             <tr>
                <th *ngFor="let header of headerList"> {{header}} </th>
             </tr>
            </thead>

            <tbody>
                <tr *ngFor="let data of customerList">
                    <td *ngFor="let item of customerNameList">{{data[item]}}</td>
                </tr>
            </tbody>
        </table>
</div>

<app-my-drop-down
 [placeHolder] ="'Select County'"
 [studentDropDownData] = "studentList"
>
</app-my-drop-down>